body {
	font-family: 'Jua', sans-serif;
	background-color: #ffffff;
}

.section {
	margin-top: 20px;
	font-family: 'Jua', sans-serif;
}

.title {
	font-family: NanumSquareR;
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
}

.subtitle {
	font-family: NanumSquareR;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 1.5rem;
	}
}

.file-upload {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 5% 3%;
	/* height: 105vw; */
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
	width: 80%;
	box-sizing: border-box;
}

/* .file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
} */

.file-upload-content {
	box-sizing: border-box;
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {

	border: 4px dashed #1fb264;
	position: relative;
	object-fit: contain;
	border-radius: 10px;
	border: dashed 2px #35465d;
	background-color: #ffffff;
	width: 80%;
	margin: 0 auto;
	height: 60vw;
}

.image-dropping,
.image-upload-wrap:hover {
	object-fit: contain;
	border-radius: 10px;
	border: dashed 2px #f6f7fa;
	background-color: #f6f7fa;
}

.image-title-wrap {
	/* padding: 0 15px 15px 15px; */
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #15824b;
	padding: 60px 0;
}

.file-upload-image {
	max-width: 200px;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	/* border-bottom: 4px solid #b02818; */
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

.nav-distance {
	padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
	font-family: NanumSquareR;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
	font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
	border-color: #ffffff;
}

.drag-text h3 {
	color: #ed686e;
	font-weight: 100;
    padding: 30px 0;
	width: 60%;
	margin: 0 auto;
	font-size: 1.5rem;
}

.h1 {
	font-family: 'Jua', sans-serif;
}

.h2 {
	font-family: 'Jua', sans-serif;
}

.h3, h3 {
    font-size: calc(2rem);
}

.h4 {
	font-family: 'Jua', sans-serif;
}

.classPrediction {
	padding: 30px 0;
}

.result-image {
	max-width: 200px;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.charExplain {
	font-size: 1.5rem;
	font-family: 'Stylish', sans-serif;
}

.charName {
	font-size: 2.5rem;
	color: #9c27b0;
}

.charPercent {
	font-size: 2.5rem;
	font-family: 'Black Han Sans', sans-serif;
	color: #9c27b0;
}

.at-share-btn-elements {
	padding-top: 15px;
}
